.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: rgb(243, 245, 246);
  padding-bottom: 40px;
  text-align: center;
  box-sizing: border-box;
  top: 10vh;
  left: 15vw;
  width: 70vw;
  height: 80vh;

  transition: all 0.5s linear;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.ModalClosed {
  display: none;
}

.closeButton {
  position: absolute;
  font-size: 1.25rem;
  right: 0;
  top: 0;
  margin: 1.5vh 1vw;
  cursor: pointer;
}

.closeButton:hover {
  color: #2960ed;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.input,
.output {
  border-radius: 12px;
  background-color: white;
  margin: 5vh 2vw;
}

.input {
  flex: 1;
  height: fit-content;
  margin-top: 12.5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2%;
  padding-right: 2%;
}

.output {
  flex: 1;
  height: 30vh;
  margin-top: 20vh;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
}

.btnContainer div,
.btnContainer label {
  height: 3vh;
  width: fit-content;
  border-radius: 5px;
  padding: 0.5vh 1.5vw;
  padding-top: 0.75vh;
  border: 0.5px solid rgb(223, 223, 223);
  cursor: pointer;
  font-weight: 600;
  margin-top: 1vh;
}

.btnContainer label {
  cursor: pointer;
  background-color: whitesmoke;
}

.btnContainer label:hover {
  background-color: rgb(223, 223, 223);
}

.btnContainer div:nth-of-type(1) {
  background-color: rgb(255, 202, 196);
}

.btnContainer div:nth-of-type(1):hover {
  background-color: rgb(253, 173, 165);
}

.LinkBox {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #e4e4e4;
  margin: 30px auto;
  height: 60px;
  border-radius: 7px;
  cursor: pointer;
  backdrop-filter: blur(15.4368px);
  padding: 10px;

  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
}

.thumbnailContainer img,
.LinkBox img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  padding: 0 auto;
  object-fit: cover;
}

.LinkBox div:nth-of-type(1) {
  flex: 1;
  margin: auto;
}

.LinkBox div:nth-of-type(2) {
  flex: 2;
  margin: auto;
  align-items: center;
  font-weight: 600;
}

.LinkBox div:nth-of-type(3) {
  flex: 1;
  margin: auto;
  margin-right: -20px !important;
}

@media screen and (max-width: 1025px) {
  .Modal {
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
  }

  .input,
  .output {
    background-color: white;
    margin: 10vh 2vw;
  }
}

@media screen and (min-height: 1199px) and (min-width: 1100px) {
  .Modal {
    height: 70vh;
  }
  .input {
    margin-top: 12.5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .output {
    flex: 1;
    height: 20vh;
    margin-top: 20vh;
  }

  .btnContainer div,
  .btnContainer label {
    height: 2vh;
    width: 8vw;
    border-radius: 5px;
    padding-top: 0.5vh;
    margin-top: 0.75vh;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

/*
      Styling Tablet
  */
@media screen and (min-height: 1000px) and (max-width: 1025px) {
  .input,
  .output {
    background-color: white;
    margin: 15vh 3vw;
    margin-bottom: 5vh;
  }

  .input {
    height: fit-content !important;
    flex: 1;
    height: 60vh;
    padding: 10% 2%;
  }

  .output {
    margin-top: 20vh;
    height: fit-content;
    padding: 2% 0%;
  }

  .btnContainer div,
  .btnContainer label {
    height: 2vh;
    width: fit-content;
    padding: 0.75vh 2vw;
    padding-bottom: 0vh;
    margin-top: 0.5vh;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .Modal {
    background-color: white;
  }

  .container {
    flex-direction: column-reverse;
    margin-top: 10vh;
  }

  .input,
  .output {
    width: 90vw;
    margin: 0vh auto;
    margin-bottom: 0vh;
  }

  .output {
    width: 100vw;
  }

  .input {
    flex: 1;
    padding-top: 10vh;
  }

  .btnContainer div,
  .btnContainer label {
    height: 2vh;
    width: fit-content;
    font-size: 0.85rem;
    padding: 8px 16px;
    padding-bottom: 10px;
    margin-top: 0.95vh;
  }

  .closeButton {
    font-size: 1.35rem;
    right: 0;
    bottom: 0;
    top: auto;
    margin: 1vh 1vh;
  }
}

@media screen and (max-height: 700px) {
  .input {
    padding-top: 0vh;
    padding-bottom: 5vh;
  }
  .LinkBox {
    margin-bottom: 2vh;
  }
}

/*
    Animation Effect
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(startYposition);
  }
  100% {
    opacity: 0;
    transform: translateY(endYposition);
  }
}
