$primary_navy_blue: #10487a;
$primary_wasabi_green: #c4d600;
$primary_wasabi_green_light: #dae246;
$white: #ffffff;

$secondary_navy_blue: #10487a;
$secondary_sky_blue: #2ba4dd;
$secondary_sky_blue_light: #73c7eb;
$secondary_grey_blue: #87a3bc;

$status_success: #52c41a;
$status_error: #be3316;
$status_warning: #eed202;

$gray_01: #f5f5f5;
$gray_03: #d9d9d9;
$application_background: #e5e5e5;
$gray_55: #8c8c8c;
$border_input: #262626;
$blue_report: #87a3bc;
