$nav_height: 64px;

$screenXLarge: 1536px;
$screenLarge: 1280px;
$screenMedium: 1024px;
$screenSmall: 768px;
$screenExtraSmall: 375px;

$z-index-navbar: 200;
$z-index-modal-backdrop: 104;
$z-index-modal: 105;

$z-index-spinner: 9999;
