.rootWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 0.95rem;
  color: #000000;
  outline: none;
  font-weight: 500;
}

.input:focus {
  outline: none !important;
  background: rgba(41, 96, 237, 0.05);
  border: 1px solid #2960ed;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 800;
}

.inputError {
  border: 1px solid #df2a24 !important;
  background-color: #f1ebea !important;
}

.eyeIcon {
  position: absolute;
  cursor: pointer;
  color: #86888f;
  float: right;
  right: 2vw;
}

.inputWrapper {
  margin-bottom: 20px;
}

.inputWrapper {
  margin-bottom: 20px;
}
.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.labelWrapper {
  display: flex;
  align-items: center;
}
.label {
  color: #42444a;
  font-size: 16px;
  font-weight: 600;
  float: left;
  margin-right: 10px;
}
.iconWaring {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  top: -5px !important;
}

.fullNameLabelRight {
  position: absolute;
  background-color: #ecebeb;
  color: #42444a;
  font-size: 0.85rem;
  transition: ease-in 1s;
  font-weight: bold;
  width: 60%;
  margin-bottom: 12vh;
  margin-left: 9vw;
  padding: 12px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}

.fullNameLabelShort {
  position: absolute;
  background-color: #ecebeb;
  color: #42444a;
  font-size: 0.85rem !important;
  transition: ease-in 1s;
  font-weight: bold;
  width: 60%;
  margin-bottom: 9vh;
  margin-left: 8.5vw;
  padding: 12px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}

.message {
  position: relative;
  border-radius: 5px;
  margin-top: 1.5vh;
  width: 100%;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.message h3 {
  width: 80%;
  font-size: 0.95rem;
  font-weight: 600;
  margin: 1vh auto;
}

.errorMessage {
  color: brown;
  background-color: #e6b6b4;
}

.infoMessage {
  background-color: #b6e1ee;
  color: #2960ed;
}

.longMessage {
  font-size: 1vh !important;
}

.roof {
  position: absolute;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  top: 38px;
}

@media screen and (max-width: 600px) {
  .fullNameLabelRight {
    font-size: 9px;
    width: 40%;
    margin-bottom: 12vh;
    margin-left: 32vw;
    padding: 8px;
  }

  .message h3 {
    font-size: 0.75rem;
  }

  .fullNameLabelShort {
    font-size: 9px !important;
    margin-bottom: 8vh;
    margin-left: 31vw;
    width: 40%;
    padding: 12px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .label {
    font-size: 14px;
  }

  .eyeIcon {
    cursor: pointer;
    color: #86888f;
    right: 3vw;
  }

  .input {
    padding: 12px 20px;
    font-size: 0.85rem;
  }
}
