.LinkBox {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 360px;
  border-radius: 8px;
  cursor: pointer;

  margin: 0px auto;
  width: 80vw;
}

.iconImg {
  height: 29px;
}

.content {
  font-size: 0.9rem;
  margin-left: 15px;
  font-family: "Roboto Condensed", sans-serif;
}
