.container {
  position: relative;
  z-index: inherit;
  width: 325px !important;
  max-height: 561px !important;
  border-radius: 25px;
  margin: 0px auto;
  margin-top: 50px;
  padding: 0px !important;
  overflow: hidden !important;
  border: 1px solid white;
  background-color: rgb(250, 250, 250);

  -moz-box-shadow: 5px 5px 5px rgba(22, 24, 35, 1.12);
  -webkit-box-shadow: 5px 5px 5px rgba(22, 24, 35, 1.12);
  box-shadow: 5px 5px 5px rgba(22, 24, 35, 1.12);
}

.demo {
  position: relative;
  z-index: inherit;
  width: 325px !important;
  max-height: 360px !important;
  border-radius: 12px;
  margin: 0px auto;
  margin-top: 0px;
  padding: 0px !important;
  overflow: hidden !important;
}

.holder {
  position: relative;
  z-index: inherit;
  width: 325px !important;
  max-height: 300px !important;
  border-radius: 12px;
  margin: 0px auto;
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 0px !important;
  overflow: hidden !important;
  background-color: grey;
}

.blockStyle {
  margin: 0px !important;
}

.loading {
  position: relative;
  margin-top: -60px;
  margin-left: 140px;
  padding-bottom: 300px !important;
}

.loadingDemo {
  position: relative;
  margin-top: -150px;
  margin-left: 140px;
  padding-bottom: 300px !important;
}

@media screen and (max-width: 600px) {
  .blockStyle {
    margin: 0px !important;
    border-radius: 12px !important;
    overflow: hidden;
  }
}
