.button {
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
  
    font-weight: 600;
    font-size: 0.87rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }
  
  .glow {
    animation: glowGrey 1s infinite alternate;
  }
  
  @keyframes glowGrey {
    from {
      box-shadow: 0 0 6px -6px var(--lightGrey);
    }
    to {
      box-shadow: 0 0 6px 6px var(--lightGrey);
    }
  }
  
  .blue {
    background-color: #3A77ED;
    color: white;
  }
  
  .black {
    background-color: var(--black);
    color: white;
  }
  
  .green {
    background-color: var(--successDark);
    color: white;
  }
  
  .warning {
    background-color: var(--warningLight);
    color: var(--warningDark);
  }
  
  .red {
    background-color: var(--danger);
    color: white;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .borderWhite {
    border: 1px solid var(--faded);
  }

  .borderGrey {
    border: 1px solid var(--lightGrey);
  }

  .white{
    color: black;
    font-weight: 700;
    background-color: white;
  }

  .flex{
    display: flex;
    justify-content: center;
  }