body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
html{
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --lightBlue: #81c4ff;
  --lightBorderColor: rgb(228, 228, 228);
  --lightGrey: rgb(185, 185, 185);
  --black: #282828;
  --dangerLight: #eccdcb;

  --primary: #0275d8;
  --danger: #d9534f;
  --info: #5bc0de;
  --success: #5cb85c;
  --warning: #f0ad4e;
  --inverse: #292b2c;
  --faded: #f7f7f7;

  --successLight: #cefcce;
  --successDark: #008100;

  --dangerLight: #ffc9c7;
  --dangerBetween: #ffa5a2;
  --dangerDark: #9c0500;

  --primaryLight: #bbdfff;
  --primaryDark: #0159a7;

  --fadedDark: #e2e2e2;

  --warningLight: #ffe4bb;
  --warningDark: #b66d00;
}